
.colors{
    /* 
    light green: #7ed56f 
    */
    color: #7ed56f; 

    /* 
    midium green: #7ed56f 
    */
    color: #55c57a;

     /* 
    dark green: #7ed56f 
    */
    color: #28b485;
}

/* beggining of the header styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 30px;
}
.header{
    position: relative;
}
.header-image{
    height: 95vh;
    background-image:linear-gradient(to right bottom, #7ed56fde,  rgba(0, 0, 0, 0.5)), url('../assets/nyungwe.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100%);
}
.logo-box{
    position: absolute;
    top: 0vh;
    left: 0vh;
}
.logo{
    height: 140px;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-title{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 45px;
}
.main-title-main{
    display: block;
    font-size: 74px;
    font-weight: 400;
    letter-spacing: 53.4px;
    animation: moveInLeft 1s ease-out;

}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.main-title-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 14px;
    animation-name: moveInRight;
    animation: moveInRight 1s ease-out;
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 7px rgba(0, 0, 0, .2);
}
.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    transition: all .4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.btn-white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-white{
    background-color: #fff;
    color: #777;
    border-radius: 100px;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(35px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* end of the header styles */
