// colors

$green-color-primary: #28b485;
$green-color-primary-medium: #55c57a;
$green-color-primary-light: #7ed56f;
$black-color-primary: #000;
$white-color-primary: #fff;
$gray-color-primary: #777;
$gray-color-light: #eee;
$gray-color-light-2:#f7f7f7;
$cool-green: #76B800;
$cool-yellow-medium: #FFE715;
$cool-yellow-deep: #FCBA04;
$cool-blue-deep: #1F75FE;
$cool-blue-mediem: #28B9FB;


// grids

$gutter-vertical: 4rem;
$gutter-horizontal: 3rem;

// calc

