.popup{
    &__model{
        height: 100vh;
        width: 100%;
        background-color: rgba($black-color-primary, .8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;

        opacity: 0;
        visibility: hidden;

        &:target{
            opacity: 1;
            visibility: visible;
            
        }


    }
    &__content{ 
        display: inline-block;
        width: 75%;
        background-color: $white-color-primary;
        border-radius: .3rem;
        box-shadow: 0 1.2rem 3rem rgba($black-color-primary, .25);
       @include absolutePositionCenter;
       display: table;
       overflow: hidden;
       opacity: 0;
       transform:translate(-50%, -50%) scale(0.5);
       transition: all .7s .2s;
       @include responsive(tab-land){
         width: 85%;
         font-size: 1.3rem;
       }
       @include responsive(tab-port){
        width: 95%;
        font-size: 1.2rem;
      }
      @include responsive(phone){
        width: 90%;
      }
    }
    &__images-box{
        width: 33.33333%;
        display: table-cell;

        @include responsive(phone){
            width: 100%;
            display: inline-block;
            float: left;

          }
    }
    &__img{
        width: 100%;
        display: block;
        @include responsive(phone){
            width: 50%;
            display: inline-block;
            float: left;
            height: 20rem;
          }
    }
    &__text{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 4rem;
        @include responsive(tab-port){
            padding: 1rem 2rem;

        }

        @include responsive(phone){
            width: 100%;
            display: block;
          }
    }
    &__paragraph{
        font-size: 1.4rem;
        margin-bottom: 5rem;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        column-gap: 2rem;
        column-rule: .1rem solid $gray-color-primary2;
        @include responsive(tab-port){
        margin-bottom: 2rem;
        // column-count: 3;
        }
    }
    &__cancel-button{
        &:link,
        &:visited{
            font-size: 3rem;
            color: $gray-color-primary;
            text-decoration: none;
            position: absolute;
            top: 2rem;
            right: 3.5rem;
            line-height: 1;
        }

        &:hover{
            color: $cool-blue-mediem;
        }
    }

    &__model:target &__content{
        opacity: 1;
       transform:translate(-50%, -50%) scale(1);
    }
}