.u-center-text{text-align: center;};
.u-margin-bottom-6{
    margin-bottom: 5rem;
}
.u-margin-top-6{
    margin-top: 5rem;
}
.u-margin-bottom-small{
    margin-bottom: 3rem;
}
.u-center-content{
    text-align: center;
}

.u-margin-top-medium{
    margin-top: 10rem;
}