.u-center-text{text-align: center;};
.u-margin-bottom-6{
    margin-bottom: 5rem;
}
.u-margin-top-6{
    margin-top: 5rem;
}
.u-margin-bottom-small{
    margin-bottom: 3rem;
}
.u-center-content{
    text-align: center;
}

.u-margin-top-medium{
    margin-top: 10rem;
}

.u-line-spacing-small{
    letter-spacing: 1rem;
}
.u-special-h2{
    background-image: linear-gradient(to right, rgba($white-color-primary, 0.9), rgba($green-color-primary-light, .8));
}