.section-about {
  background-color: white;
  padding: 20rem 0rem;

  @include responsive(phone) {
    padding: 10rem 0rem;
    margin-bottom: 10rem;
  }
}
.section-features {
  background-image: linear-gradient(
      to right bottom,
      rgba($green-color-primary-light, 0.5),
      rgba($black-color-primary, 0.5)
    ),
    url("../../assets/elephants.jpg");
  background-size: cover;
  padding: 20rem 0rem;
  @include responsive(desktop) {
    padding: 10rem 0;
  }
  @include responsive(phone) {
    display: block;
    padding: 10rem 0;
    background-position: center;
    background-size: cover;
  }
}
.section-popular {
  background-color: $gray-color-light-2;
  padding: 10rem 0 20rem 0;

  @include responsive(desktop) {
    padding: 5rem 0 10rem 0;
  }
  @include responsive(tab-port) {
    padding: 10rem;
  }
  @include responsive(phone) {
    padding: 0.5rem;
  }
}
.section-stories {
  position: relative;
  padding: 8rem 0;
  @include responsive(desktop) {
    padding: 5rem 0 10rem;
  }
  @include responsive(tab-port) {
    padding: 4rem 0;
  }
}
.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $cool-yellow-medium,
    $cool-yellow-deep
  );

  .book-box {
    background-image: linear-gradient(
        105deg,
        rgba($cool-yellow-medium, 0.4) 0%,
        rgba($cool-yellow-medium, 0.4) 50%,
        transparent 50%
      ),
      url("../assets/liontree.jpg");
    background-size: 100%;
    margin: 0 auto;
    width: 70%;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($black-color-primary, 0.25);
    @include responsive(tab-land) {
      background-image: linear-gradient(
          105deg,
          rgba($cool-yellow-medium, 0.4) 0%,
          rgba($cool-yellow-medium, 0.4) 65%,
          transparent 65%
        ),
        url("../assets/liontree.jpg");
      background-size: cover;
    }
    @include responsive(tab-port) {
      background-image: linear-gradient(
          to right,
          rgba($cool-yellow-medium, 0.4),
          rgba($cool-yellow-medium, 0.4)
        ),
        url("../assets/liontree.jpg");
    }
    &__form {
      width: 60%;
      padding: 1rem;
      @include responsive(tab-land) {
        width: 80%;
      }
      @include responsive(tab-port) {
        width: 100%;
      }
    }
  }
}
